@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: rgb(4, 9, 17) !important;
    color: white !important;
    text-align: center !important;
}

h1 {
    font-size: 48px !important;
    margin-top: 12px !important;
    font-weight: 700 !important;
}

p {
    font-size: 22px !important;
    line-height: 31px;
}

#home-btn {
    margin-top: 40px;
    background-color: rgb(4, 9, 17) !important;
    border: rgb(4, 9, 17);
    font-size: 14px;
}
#home-btn:focus {
    box-shadow: none;
}
