@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Be Vietnam Pro', sans-serif;
}

body {
    background-color: rgb(4, 9, 17) !important;
    color: white !important;
}

h2 {
    font-size: 48px !important;
    font-weight: 800 !important;
    margin-top: 10px !important;
    margin-bottom: 0px !important;
}

#player-search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.team-data {
    display: flex;
    flex-direction: column;
}

.inputs {
    margin: auto;
}

.team {
    display: flex;
    flex-direction: row;
    background-color: rgb(9, 21, 39);
    margin-top: 16px;
    padding: 14px;
    width: 600px;
    border-radius: 16px;
}

.information {
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: rgb(7, 16, 31);
    margin-left: 13px;
    padding: 10px;
    border-radius: 12px;
    width: 460px;
}


.team-img {
    float: left;
    max-height: 103px;
    background-color: rgb(7, 16, 31);
    padding: 8px 20px 8px 20px;
    border-radius: 12px;
}

#input-box {
    background-color: rgb(9, 21, 39);
    border: none;
    border-radius: 20px;
    color: white;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 14px;
}
#input-box::placeholder {
    color: rgba(255,255,255,0.5)
}
#input-box:focus {
    border: none;
    outline-width: 0 !important;
    outline: none !important;
}
#input-box:focus::placeholder {
    color: transparent;
    border: none;
    outline-width: 0 !important;
    outline: none !important;
}

#team-btn{
    border-radius: 20px;
    margin-right: 0px;
}
#team-btn:focus{
    box-shadow: none;
}

#clear-btn{
    border-radius: 20px;
    margin-left: 1px;
}
#clear-btn:focus{
    box-shadow: none;
}

p {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 14px;
}

.sublink{
    margin-top: 0px;
    margin-bottom: 8px;
    padding-bottom: 0px;
    font-size: 14px;
    color: white;
    text-decoration: none;
}
a:hover{
    color: white !important;
}
a::after{
    display:block;
    color: white;
    content: '';
    border-bottom: solid 1.5px #ffffff;
    transform: scaleX(0);
    transition: transform 125ms ease-in-out;
}
.sublink:hover::after{
    transform: scaleX(1);
}